
  
.all-sections {
    .all-section-inner {
        .author-content {
            .hero_title_shape {
                margin-bottom: 30px;
            }            
            .about-me {
                position: relative;
                .about-svg-shape {
                    position: absolute;
                    right: -70px;
                    bottom: -100px;
                    width: 250px;
                    height: 250px;
                    opacity: 0.05;
                    path {
                        fill: $primary_color;
                    }
                }
                .left-content {
                    margin: 0 0 40px 0;
                    padding: 0 0 0 50px;
                    @media #{$ipad_device, $lg_mobile, $mobile_device} {
                        padding: 0;
                        margin-top: 50px;
                    }
                    p {
                        line-height: 1.8;
                        margin: 0 0 20px 0;
                        &:last-child {
                            margin: 0;
                        }
                    }
                    @media #{$ipad_device, $lg_mobile, $mobile_device} {
                        margin-bottom: 30px;
                    }
                }
                .col-lg-4.pl0.pr10,
                .col-lg-8.pl10.pr0 {
                    @media #{$ipad_device, $lg_mobile, $mobile_device} {
                        padding: 0;
                    }
                }
                .col-lg-6.pl10.pr0,
                .col-lg-6.pr10.pl0 {
                    @media #{$ipad_device, $lg_mobile, $mobile_device} {
                        padding: 0;
                    }
                }
                .right-content {
                    .me-image {
                        margin: 0 0 30px 0;
                        width: 200px;
                        position: relative;
                        @media #{$ipad_device, $lg_mobile, $mobile_device} {
                            margin: 0 auto 30px auto;
                        }
                        &:before {
                            content: '';
                            border: 8px solid $gray_color;
                            position: absolute;
                            width: 200px;
                            height: 200px;
                            left: 25px;
                            top: 20px;
                            z-index: -1;
                            opacity: 0.4;
                            @include transform(rotateY(180deg) rotateX(180deg));
                            @include border_radius(23% 46% 40% 47%);
                        }
                        img {
                            width: 200px;
                            height: 200px;
                            @include box_shadow(0 0 30px rgba(68, 86, 108, 0.1));
                            @include border_radius(23% 46% 40% 47%);
                        }
                    }
                    .user-info-list {
                        &:hover {
                            li {
                                border-left: 1px solid $primary_color;
                                &:after {
                                    background: $primary_color;
                                }
                            }
                        }
                        li {
                            border-left: 1px solid $gray_color;
                            position: relative;
                            display: flex;
                            font-size: 16px;
                            word-break: break-word;
                            overflow-wrap: break-word;
                            padding: 10px 0 10px 10px;
                            @include justify_content(space-between);
                            @include flex_wrap(wrap);
                            @include transition(border 3s ease-in-out 0.1s);
                            @media #{$mobile_device_xs, $mobile_device_xs2} {
                                font-size: 14px;
                            }
                            &:first-child {
                                padding: 0 0 10px 10px;
                                &:after {
                                    top: 40%;
                                }
                            }
                            &:last-child {
                                padding: 10px 0 0 10px;
                                &:before {
                                    display: none;
                                }
                                &:after {
                                    top: 60%;
                                }
                            }
                            strong {
                                color: $heading_color;
                                background: rgba(16, 137, 255, 0.03);
                                padding: 2px 10px;
                                font-weight: 700;
                                @include border_radius(30px);
                            }
                            span {
                                font-family: $nunito;
                                color: $paragraph_color;
                                font-weight: 400;
                                word-break: break-word;
                                overflow-wrap: break-word;
                                font-size: 16px;
                            }
                            &:before {
                                content: '';
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                width: 100%;
                                height: 1px;
                                background: linear-gradient(45deg, $white_color, $primary_color, $white_color);
                                opacity: 0.1;
                            }
                            &:after {
                                background: $gray_color;
                                content: '';
                                position: absolute;
                                width: 7px;
                                height: 7px;
                                left: -4.5px;
                                top: 50%;
                                @include border_radius(50%);
                                @include box_shadow(0 0 0 3px $white_color);
                                @include transform(translate(0, -50%));
                            }
                            &:nth-child(10) {
                                &:after {
                                    @include transition(background 0.1s ease-in-out 0.10s);
                                }
                            }
                            &:nth-child(9) {
                                &:after {
                                    @include transition(background 0.2s ease-in-out 0.9s);
                                }
                            }
                            &:nth-child(8) {
                                &:after {
                                    @include transition(background 0.3s ease-in-out 0.8s);
                                }
                            }
                            &:nth-child(7) {
                                &:after {
                                    @include transition(background 0.4s ease-in-out 0.7s);
                                }
                            }
                            &:nth-child(6) {
                                &:after {
                                    @include transition(background 0.5s ease-in-out 0.6s);
                                }
                            }
                            &:nth-child(5) {
                                &:after {
                                    @include transition(background 0.6s ease-in-out 0.5s);
                                }
                            }
                            &:nth-child(4) {
                                &:after {
                                    @include transition(background 0.7s ease-in-out 0.4s);
                                }
                            }
                            &:nth-child(3) {
                                &:after {
                                    @include transition(background 0.8s ease-in-out 0.3s);
                                }
                            }
                            &:nth-child(2) {
                                &:after {
                                    @include transition(background 0.9s ease-in-out 0.2s);
                                }
                            }
                            &:nth-child(1) {
                                &:after {
                                    @include transition(background 0.10s ease-in-out 0.1s);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}