

  
.all-sections {
  .all-section-inner {
    .news-wrapper {
      .col-lg-4.pr10.pl0 {
        @media #{$mobile_device} {
          padding: 0;
        }
      }
      .news-box {
        &:hover {
          .news-box-image {
            box-shadow: 5px 4px 30px rgba(95, 111, 129, 0.3), inset 0 0 0 8px rgba(255,255,255,0.9);
          }
          .news-box-content {
            @include box_shadow(5px 4px 30px rgba(95, 111, 129, 0.1));
          }
        }
        .news-box-image {
          width: 100%;
          height: 260px;
          background: url(../images/blog/bl1.jpg) center center no-repeat;
          background-size: cover;
          @include border_radius(5px);
          @include transition(.3s);
        }
        .news-box-content {
          padding: 25px 25px;
          top: 50%;
          margin: -40px 0 0 0;
          width: 90%;
          left: 5%;
          background: $white_color;
          @include border_radius(5px);
          @include transition(0.3s);
          @media #{$mobile_device_xs, $mobile_device_xs2} {
            padding: 20px 15px;
          }
          &:before,
          &:after {
            content: '';
            background: linear-gradient(45deg, $primary_color, $secondary_color);
            position: absolute;
            width: 30px;
            height: 1px;
            right: 0;
            top: 0;
            @include transform_origin(right);
            @include transform(rotate(-30deg));
          }
          &:after {
            top: 12px;
          }
          .news-box-title {
            font-size: 18px;
            font-weight: 600;
            line-height: 20px;
            margin: 0 0 10px 0;
            a {
              color: $heading_color;
              display: inline-block;
              &:hover {
                color: $primary_color;
              }
            }
          }
          .news-box-desc {
            margin: 10px 0 0 0;
          }
          .news-box-date {
            font-family: $nunito;
            color: $white_color;
            font-size: 14px;
            background: linear-gradient(45deg, $primary_color, $secondary_color);
            padding: 2px 10px;
            @include border_radius(30px);
          }
        }
      }
      .col-lg-4 {
        &:nth-child(2) {
          .news-box {
            .news-box-image {
              background: url(../images/blog/bl2.jpg) center center no-repeat;
              background-size: cover;
            }
          }
        }
        &:nth-child(3) {
          .news-box {
            .news-box-image {
              background: url(../images/blog/bl3.jpg) center center no-repeat;
              background-size: cover;
            }
          }
        }
        &:nth-child(4) {
          .news-box {
            .news-box-image {
              background: url(../images/blog/bl4.jpg) center center no-repeat;
              background-size: cover;
            }
          }
        }
        &:nth-child(5) {
          .news-box {
            .news-box-image {
              background: url(../images/blog/bl5.jpg) center center no-repeat;
              background-size: cover;
            }
          }
        }
        &:nth-child(6) {
          .news-box {
            .news-box-image {
              background: url(../images/blog/bl6.jpg) center center no-repeat;
              background-size: cover;
            }
          }
        }
      }
      .pagination-nav {
        background: none;
        margin: 20px 0 0 0;
        @include border_radius(0);
        @include box_shadow(none);
        .pagination {
          li {
            height: 40px;
            padding: 0;
            line-height: 35px;
            margin: 0 5px 0 0;
            &:last-child {
                margin: 0;
            }
            a {
              font-family: $montserrat;
              color: $paragraph_color;
              margin: 0;
              padding: 0;
              width: 40px;
              height: 40px;
              line-height: 40px;
              font-size: 16px;
              z-index: 1;
              @include border_radius(50%);
              @include transition(.3s);
              &:hover {
                color: $white_color;
                border-color: $white_color;
                background: none;
                @include box_shadow(0 0 30px rgba(16, 137, 255, 0.15));
                &:after {
                    @include transform(scale(1));
                }
              }
              &:after {
                content: '';
                background-image: linear-gradient(to right, $secondary_color, $primary_color);
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: -1;
                @include border_radius(50%);
                @include transition(.3s);
                @include transform(scale(0));
              }
              i {
                font-size: 16px;
              }
            }
          }
          li.active {
            background: none;
            a {
                color: $white_color;
                border-color: $white_color;
                background: none;
                @include box_shadow(0 0 30px rgba(16, 137, 255, 0.15));
                &:after {
                  @include transform(scale(1));
                }
            }
          }
        }
      }
    }
  }
}

// blog single
.single-blog-overlay {
  background: $heading_color;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  cursor: zoom-out;
  opacity: 0;
  visibility: hidden;
  @include transition(.3s);
}
.blog-single {
  visibility: hidden;
  background: $white_color;
  padding: 40px !important;
  top: 5vh;
  height: 90vh;
  width: 975px;
  left: 50%;
  overflow-x: hidden;
  z-index: 99999;
  margin: -200px 0 0 -487.5px;
  opacity: 0;
  @include border_radius(4px);
  @include box_shadow(0 0 30px rgba(95, 111, 129, 0.1));
  @include transition(.3s);
  @media #{$ipad_device, $lg_mobile, $mobile_device} {
    width: 94%;
    padding: 20px !important;
    margin: 0;
    left: 3%;
  }
  .close-bl-details {
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    z-index: 99;
    cursor: pointer;
    background-image: linear-gradient(45deg, $primary_color, $white_color, $primary_color, $heading_color);
    background-size: 400% 400%;
    @include animation(gradient_bg_animation 15s ease infinite);
    @include border_radius(50%);
    @include box_shadow(0 0 30px rgba(95, 111, 129, 0.15));
}
  .single-blog-content {
    .bl-single-image {
      .blog-single-image {
        width: 100%;
        @include border_radius(10px);
      }
      .date {
        color: $white_color;
        font-family: $nunito;
        left: 5px;
        top: 5px;
        width: 90px;
        height: 90px;
        font-size: 16px;
        padding: 2px 10px;
        word-break: break-all;
        background: linear-gradient(45deg, $primary_color, $secondary_color);
        @include border_radius(30% 50% 50% 50%);
        @include box_shadow(0 0 30px rgba(95, 111, 129, 0.1));
        @media #{$lg_mobile} {
          width: 80px;
          height: 80px;
          font-size: 14px;
        }
        @media #{$mobile_device} {
          width: 65px;
          height: 65px;
          font-size: 14px;
          padding: 5px;
        }
      }
    }
    .bl-content {
      background: $white_color;
      margin-top: -60px;
      z-index: 1;
      width: 96%;
      left: 2%;
      padding: 20px 20px 25px 20px;
      @include border_radius(10px);
      @include box_shadow(0 0 30px rgba(95, 111, 129, 0.1));
      .bl-single-title {
        font-size: 25px;
        font-weight: 600;
        margin: 0 0 10px 0;
        @media #{$mobile_device} {
          font-size: 22px;
        }
      }
      p {
        line-height: 1.8;
      }
      blockquote {
        background: rgba(16, 137, 255, 0.05);
        padding: 10px 10px 10px 20px;
        @include border_radius(4px);
        p {
          color: $heading_color;
          font-weight: 600;
        }
        cite {
          font-weight: 500;
        }
      }
      .image-with-text {
        @media #{$lg_mobile, $mobile_device} {
          @include flex_direction(column);
        }
        &:before {
          content: '';
          width: 200px;
          height: 200px;
          position: absolute;
          left: 0;
          top: 0;
          z-index: -1;
          opacity: 0.1;
          border: 10px solid $primary_color;
          @include border_radius(4px);
        }
        .left-image {
          margin: 20px 20px 0 0;
          padding: 0 0 0 20px;
          @media #{$lg_mobile, $mobile_device} {
            margin: 20px 0 20px 0;
            width: 100%;
          }
          &:before {
            content: '';
            position: absolute;
            border-left: 30px solid $white_color;
            border-top: 30px solid transparent;
            right: -15px;
            top: 50%;
            @include transform(translate(0, -50%) rotate(45deg));
            @include transition(.3s);
          }
          img {
            width: 350px;
            @include border_radius(4px);
            @include box_shadow(0 0 30px rgba(95, 111, 129, 0.2));
            @media #{$lg_mobile, $mobile_device} {
              width: 100%;
            }
          }
        }
      }
      .bl-tag {
        background: rgba(50, 50, 50, 0.05);
        padding: 5px 10px;
        @include align_items(center);
        @include justify_content(space-between);
        @include border_radius(20px);
        @media #{$mobile_device} {
          @include flex_direction(column);
          @include justify_content(flex-start);
          @include align_items(flex-start);
        }
        p {
          @media #{$mobile_device} {
            line-height: 1.3;
          }
          a {
            color: $heading_color;
            font-family: $nunito;
            font-size: 14px;
            font-weight: 600;
            margin-left: 8px;
            line-height: 20px;
            opacity: .5;
            &:hover {
              opacity: 1;
            }
          }
          strong {
            color: $heading_color;
            font-size: 14px;
          }
        }
        .share-box {
          line-height: 0;
          @media #{$mobile_device} {
            margin-top: 10px;
          }
          &:hover {
            .share_icon {
              color: $white_color;
              &:after {
                @include transform(scale(1));
              }
            }
          }
          .share_icon {
            background: $white_color;
            width: 35px;
            height: 35px;
            line-height: 35px;
            cursor: pointer;
            z-index: 2;
            @include transition(.3s);
            @include box_shadow(0 0 30px rgba(48, 76, 253, 0.1));
            @include border_radius(50%);
            &:hover {
              color: $white_color;
              @include box_shadow(0 0 30px rgba(48, 76, 253, 0.2));
              ~ .share-links {
                right: 0;
                opacity: 1;
                visibility: visible;
                @include transform(rotateY(0));
              }
              &:after {
                @include transform(scale(1));
              }
            }
            &:after {
              content: '';
              background-image: linear-gradient(to right, $secondary_color, $primary_color);
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              z-index: -1;
              position: absolute;
              @include transition(.3s);
              @include border_radius(50%);
              @include transform(scale(0));
            }
          }
          .share-links {
            top: 0;
            right: 0;
            background: $white_color;
            z-index:1;
            visibility: hidden;
            opacity: 0;
            transform-origin: right;
            @include transform(rotateY(90deg));
            @include border_radius(30px);
            @include transition(.3s);
            @media #{$mobile_device} {
              right: auto;
              left: 0;
              padding: 0 0 0 35px;
            }
            &:hover {
              opacity: 1;
              visibility: visible;
              @include transform(rotateY(0));
              ~ .share_icon {
                color: $white_color;
                &:after {
                  @include transform(scale(1));
                }
              }
            }
            li {
              a {
                width: 35px;
                height: 35px;
                line-height: 35px;
                font-size: 14px;
                color: $paragraph_color;
                z-index: 1;
                opacity: 0.6;
                @include border_radius(50%);
                @include transition(.3s);
                &:before {
                  content: '';
                  position:absolute;
                  width: 100%;
                  height: 100%;
                  left: 0;
                  top: 0;
                  background-image: linear-gradient(to right, $secondary_color, $primary_color);
                  z-index: -1;
                  @include border_radius(50%);
                  @include transform(scale(0));
                  @include transition(.3s);
                }
                &:hover {
                  color: $white_color;
                  opacity: 1;
                  &:before {
                    @include transform(scale(1));
                  }
                }
              }
            }
          }
        }
      }
      .paginate-post {
        div {
          .theme-btn {
            padding:12px 18px;
          }
        }
        .prev-post {
          .theme-btn {
            i {
              margin: 0 5px 0 0;
            }
          }
        }
      }
    }
    #comments {
      .title {
        .title_inner {
          font-size: 20px;
          font-weight: 600;
          line-height: 30px;
          span {
            color: $white_color;
            width: 30px;
            background-image: linear-gradient(to right, $secondary_color, $primary_color);
            @include border_radius(4px);
            @include box_shadow(0 0 30px rgba(48, 76, 253, 0.2));
          }
        }
      }
      .comments-row {
        .comments {
          .comment {
            .comment-box {
              background: rgba(50, 50, 50, 0.03);
              padding: 20px;
              @include border_radius(30px);
              @media #{$mobile_device_xs, $mobile_device_xs2} {
                text-align: center;
                padding: 30px 20px 20px 20px;
              }
              .comment-author {
                @include align_items(center);
                @media #{$mobile_device} {
                  @include flex_direction(column);
                  @include align_items(flex-start);
                }
                img {
                  @include border_radius(50%);
                  box-shadow: 0 0 30px rgba(95, 111, 129, 0.2), 0 0 0 5px rgba(50, 50, 50, 0.1);
                  @media #{$mobile_device} {
                    margin: 0 0 10px 0;
                  }
                  @media #{$mobile_device_xs, $mobile_device_xs2} {
                    margin: auto auto 15px auto;
                  }
                }
                .comment-name {
                  @media #{$mobile_device_xs, $mobile_device_xs2} {
                    width: 100%;
                    text-align: center;
                  }
                  .name {
                    font-size: 20px;
                    font-weight: 600;
                    @media #{$mobile_device_xs, $mobile_device_xs2} {
                      margin: 0 0 4px 0;
                    }
                  }
                  .date {
                    font-size: 14px;
                    font-family: $nunito;
                    color: $primary_color;
                    @include align_items(center);
                    @media #{$mobile_device_xs, $mobile_device_xs2} {
                      @include justify_content(center);
                    }
                    span {
                      font-weight: 500;
                      opacity: 0.5;
                    }
                  }
                }
              }
              .comment-text {
                margin: 20px 0 8px 0;
                @media #{$mobile_device_xs, $mobile_device_xs2} {
                  margin: 10px 0 8px 0;
                }
                p {
                  line-height: 1.8;
                }
              }
              .comment-reply {
                .comment-reply-link {
                  color: $heading_color;
                  font-weight: 600;
                  font-size: 14px;
                  &:hover {
                    color: $primary_color;
                  }
                }
              }
            }
          }
          .comment.depth-2 {
            padding: 0 0 0 30px;
          }
        }
      }
      .form-comments {
        margin: 20px 0 0 0;
        .form-comment {
          .comment-respond {
            .comment-reply-title {
              .title_inner {
                span {
                  width: auto;
                  background: none;
                  color: $primary_color;
                  @include box_shadow(none);
                  @include border_radius(0);
                }
              }
            }
            .comment-form {
              @media #{$lg_mobile} {
                margin-bottom: 30px;
              }
              .input-group {
                input:focus,
                textarea:focus {
                  border: 1px solid rgba(50, 50, 50, 0.2);
                  @include box_shadow(0 0 30px rgba(95, 111, 129, 0.1));
                }
                input,
                textarea {
                  font-family: $nunito;
                  color: $paragraph_color;
                  background: $white_color;
                  width: 100%;
                  height: 45px;
                  border: 1px solid rgba(50, 50, 50, 0.1);
                  padding: 15px 20px;
                  margin: 0;
                  font-size: 14px;
                  @include box_sizing(border-box);
                  @include transition(.3s);
                }
                label {
                  font-size: 14px;
                  margin: 12px 0 0 20px;
                  cursor: text;
                  @include transition(.3s);
                }
                label.active {
                  margin: -20px 0 0 0;
                }
                textarea {
                  width: 100%;
                  height: 140px;
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
.bl-single-active .single-blog-overlay {
  opacity: 0.8;
  visibility: visible;
}
.bl-single-active .blog-single {
  margin: 0 0 0 -487.5px;
  opacity: 1;
  visibility: visible;
  @media #{$ipad_device, $lg_mobile, $mobile_device} {
    margin: 0;
  }
}
