


.section-column {
  @media #{$laptop_device_2} {
    padding: 0 0 0 5px;
  }
  @media #{$ipad_device, $lg_mobile, $mobile_device} {
    padding: 0;
  }
}
.all-sections {
  background-color: $white_color;
  width: 100%;
  right: 0;
  height: 100%;
  bottom: 0;
  padding: 0 0 0 40px;
  @include box_shadow(0 0 30px rgba(95, 111, 129, 0.1));
  @include border_radius(8px);
  @media #{$laptop_device_2, $ipad_device, $lg_mobile, $mobile_device} {
    padding: 0;
  }
  .all-section-inner {
    width: 100%;
    height: 100%;
    padding: 40px;
    @media #{$ipad_device, $lg_mobile, $mobile_device} {
      padding: 20px 20px 0 20px;
    }
    @media #{$mobile_device_xs, $mobile_device_xs2} {
      padding: 0 20px 0 20px;
    }
  }
}

