
  
.all-sections {
    .all-section-inner {
        .author-services-wrapper {
            .col-lg-6.pl10.pr0,
            .col-lg-6.pr10.pl0 {
                @media #{$lg_mobile, $mobile_device} {
                    padding: 0;
                }
            }
            .author-services-box {
                background: $white_color;
                padding: 40px 30px 30px 30px;
                margin-bottom: 20px;
                z-index: 1;
                @include transition(.2s);
                @include border_radius(10px);
                @media #{$mobile_device_xs, $mobile_device_xs2} {
                    padding: 30px 20px 20px 20px;
                }
                &:before,
                &:after {
                    background: $white_color;
                    content: '';
                    width: 300px;
                    height: 300px;
                    position: absolute;
                    left: -300px;
                    top: -300px;
                    z-index: -1;
                    opacity: 0.1;
                    @include border_radius(50%);
                    @include transition(.5s);
                }
                &:after {
                    @include transition(.7s);
                }
                &:hover {
                    background: $primary_color;
                    @include box_shadow(2px 0 30px rgba(50, 50, 50, 0.15));
                    &:before {
                        left: -100px;
                        top: -100px;
                    }
                    &:after {
                        left: -150px;
                        top: -150px;
                    }
                    .author-services-icon {
                        i {
                            color: $primary_color;
                            &:after {
                                opacity: 0;
                            }
                        }
                    }
                    .author-services-content {
                        h4 {
                            color: $white_color;
                        }
                        p {
                            color: $gray_color;
                        }
                    }
                }
                .author-services-icon {
                    width: 60px;
                    height: 60px;
                    margin: auto auto 25px auto;
                    i {
                        background: $white_color;
                        color: $white_color;
                        font-size: 30px;
                        width: 60px;
                        height: 60px;
                        line-height: 60px;
                        z-index: 1;
                        @include border_radius(30% 50% 50% 50%);
                        @include transition(.2s);
                        &:after {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            z-index: -1;
                            height: 100%;
                            background: linear-gradient(45deg, $primary_color, $secondary_color);
                            @include border_radius(30% 50% 50% 50%);
                            @include transition(.2s);
                        }
                    }
                }
                .author-services-content {
                    h4 {
                        font-size: 1rem;
                        margin: 0 0 15px 0;
                        @include transition(.3s);
                    }
                    p {
                        line-height: 1.8;
                        @include transition(.3s);
                    }
                }
            }
        }
    }
}