

.menu-box {
  top: 15px;
  right: 20px;
  width: 40px;
  height: 40px;
  z-index: 9999;
  @media #{$lg_mobile, $mobile_device} {
    background:none;
  }
  .menu-box-lines {
    background: $white_color;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding:0 6px;
    cursor: pointer;
    z-index: 9;
    @include box_shadow(0 0 30px rgba(95, 111, 129, 0.2));
    @include border_radius(50%);
    @include transition(.4s);
    span {
      background: $heading_color;
      width: 45%;
      height: 1px;
      margin: 0 0 8px 0;
      @include transition(.4s);
      &:last-child {
        margin: 0;
      }
      &:nth-child(2) {
        width: 100%;
      }
    }
  }
  .menu-box-nav_sidebar {
    background: $white_color;
    padding: 20px 15px;
    right: -200px;
    top: 76%;
    opacity: 0;
    visibility: hidden;
    width: 200px;
    height: 660px;
    overflow-x: hidden;
    @include transition(.5s);
    @include border_radius(4px);
    @include box_shadow(0 0 30px rgba(95, 111, 129, 0.1));
    @media #{$ipad_device, $lg_mobile, $mobile_device} {
      height: 450px;
    }
    .menu-box-menu {
      margin: 20px 0 0 0;
      ul {
        @include flex_basis(20%);
        li {
          flex: 1;
          width: 100%;
          &:last-child {
            a {
              @include border_radius(0 0 4px 4px);
              &:before {
                display: none;
              }
            }
          }
          a {
            font-family: $montserrat;
            color: $heading_color;
            background-color: $white_color;
            padding: 19px 20px 14px 20px;
            font-size: 12px;
            font-weight: 600;
            @include transition(.3s);
            &:after {
              content: '';
              background: rgba(16, 137, 255, 0.06);
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              z-index: -1;
              opacity: 0;
              @include transform(scale(0));
              @include border_radius(50%);
              @include transition(.3s);
            }
            &:before {
              content: '';
              background: linear-gradient(45deg, $white_color, $primary_color, $white_color);
              position: absolute;
              opacity: .2;
              width: 100%;
              height: 1px;
              right: 0;
              bottom: 0;
            }
            i {
              color: $primary_color;
              background: rgba(16, 137, 255, 0.06);
              font-size: 25px;
              width: 45px;
              height: 45px;
              line-height: 45px;
              margin: 0 0 10px 0;
              @include border_radius(50%);
            }
            span {
              font-family: $nunito;
              color: $heading_color;
              font-size: 14px;
              font-weight: 600;
            }
            &:hover {
              &:after {
                opacity: 1;
                @include transform(scale(1));
                @include border_radius(0);
              }
            }
          }
        }
        li.active {
          a {
            &:after {
              opacity: 1;
              @include transform(scale(1));
              @include border_radius(0);
            }
          }
        }
      }
    }
  }
}
.show-main-menu {
  .menu-box {
    .menu-box-lines {
      @include border_radius(25% 50% 25% 50%);
      span {
        width: 80%;
        &:nth-child(2) {
          width: 100%;
        }
      }
    }
    .menu-box-nav_sidebar {
      right: 0;
      opacity: 1;
      visibility: visible;
    }
  }
}

.show-hidden-mainmenu {
  .menu-box,
  .menu-box.menu-style-2 {
    opacity: 1;
    visibility: visible;
  }
}