//$primary_color: #e23a3e;

$primary_color: #1089ff;
$secondary_color: #2951CD;
// $secondary_color: #0023c9;
// $primary_color: #fec110;
// $secondary_color: #fbd214;
// $primary_color: #fb00ff;
// $secondary_color: #b30dff;
// $primary_color: #2eca7f;
// $secondary_color: #009852;
$heading_color: #323232;
// $paragraph_color: #5F6F81;
$paragraph_color: #44566C;
$green_color: #10b759;

$white_color: #ffffff;
$gray_color: #eeeeee;
$light_gray_color: #c6ccd2;
$blue_gray: #c9dff5;
$black_color: #000000;

/* Default Font */
$nunito: 'Nunito', sans-serif;
$montserrat: 'Montserrat', sans-serif;


